.container-presentation{
    h1{
        text-align: center;
        font-size: 1.5rem;
        padding: 1.5rem;

        @media screen and (min-width: 820px) {
            padding: 2.5rem 1.5rem 2rem 1.5rem ;
            font-size: 2.3rem;
          }
    }
    p{
        padding: 0 1.2rem 1.5rem 1.2rem;
        text-align: justify;

        @media screen and (min-width: 820px) {
            padding: 1rem 10rem;
            font-size: 1.3rem;
          }

        @media screen and (min-width: 1200px) {
            padding: 1rem 25rem;
          }
    }

}